.container {
  height: calc(100vh - 64px - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

  .info {
    text-align: center;

    button {
      height: 60px;
      font-size: 24px;
    }
  }

}
